<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="page-header">
    <h1>
        Search user
    </h1>
    <p>
        <?php echo $this->tag->linkTo(array("user/new", "Create user")) ?>
    </p>
</div>

<?php echo $this->getContent() ?>

<?php
    echo $this->tag->form(
        array(
            "user/search",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        )
    );
?>

<div class="form-group">
    <label for="fieldIduser" class="col-sm-2 control-label">IdUser</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(array("idUser", "type" => "number", "class" => "form-control", "id" => "fieldIduser")) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldUsername" class="col-sm-2 control-label">UserName</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(array("userName", "size" => 30, "class" => "form-control", "id" => "fieldUsername")) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(array("password", "size" => 30, "class" => "form-control", "id" => "fieldPassword")) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldIdrole" class="col-sm-2 control-label">IdRole</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(array("idRole", "type" => "number", "class" => "form-control", "id" => "fieldIdrole")) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldImageprofile" class="col-sm-2 control-label">ImageProfile</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(array("imageProfile", "size" => 30, "class" => "form-control", "id" => "fieldImageprofile")) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCurrentstate" class="col-sm-2 control-label">CurrentState</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(array("currentState", "type" => "number", "class" => "form-control", "id" => "fieldCurrentstate")) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldRememberToken" class="col-sm-2 control-label">Remember Of Token</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(array("remember_token", "size" => 30, "class" => "form-control", "id" => "fieldRememberToken")) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCreatedAt" class="col-sm-2 control-label">Created</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(array("created_at", "size" => 30, "class" => "form-control", "id" => "fieldCreatedAt")) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldUpdatedAt" class="col-sm-2 control-label">Updated</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(array("updated_at", "size" => 30, "class" => "form-control", "id" => "fieldUpdatedAt")) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(array("Search", "class" => "btn btn-default")) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
