<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(array("user/index", "Go Back")); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(array("user/new", "Create ")); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>IdUser</th>
            <th>UserName</th>
            <th>Password</th>
            <th>IdRole</th>
            <th>ImageProfile</th>
            <th>CurrentState</th>
            <th>Remember Of Token</th>
            <th>Created</th>
            <th>Updated</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $user): ?>
            <tr>
                <td><?php echo $user->idUser ?></td>
            <td><?php echo $user->userName ?></td>
            <td><?php echo $user->password ?></td>
            <td><?php echo $user->idRole ?></td>
            <td><?php echo $user->imageProfile ?></td>
            <td><?php echo $user->currentState ?></td>
            <td><?php echo $user->remember_token ?></td>
            <td><?php echo $user->created_at ?></td>
            <td><?php echo $user->updated_at ?></td>

                <td><?php echo $this->tag->linkTo(array("user/edit/" . $user->idUser, "Edit")); ?></td>
                <td><?php echo $this->tag->linkTo(array("user/delete/" . $user->idUser, "Delete")); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("user/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("user/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("user/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("user/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
