html, body {
    /*max-height: 100%;*/
    height:100%;
    margin: 0;
    min-width: 320px;
    max-width: 420px;
    width:100%;

    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

html {
    display: table;
    margin: auto;
}


body {
    display: table-cell;
    vertical-align: middle;
}

.btn-login{
  text-align:center;
}
.btn-login button{
  border-radius:0;
}
.login-text [type="checkbox"]+label{
  padding-left:calc(3rem - 6px);
}
.input-field .medium-small{
  margin:0 6px;
}
.card-panel{
  border-radius:0;
  padding:15px;
}
.login-text{
  margin-top:1rem;
}
.login-text label{
  top:0;
}
